@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/myweb/static/Image/bg.jpg");
}

#headtitle{
    font-weight: 600 !important;
    color: #FFFFFF !important;
}

#titlemain {
    padding-top: 5rem;
    font-family: 'Inter';
    font-style: normal;
    font-size: 77px;
    font-weight: 700;
    color: black;
}

#subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}

#formleft {
    padding: 0;
    background: #FFFFFF;
    box-shadow: 6px 6px 33px rgba(0, 0, 0, 0.26);
    border-radius: 10px 10px 0px 0px;
}

form {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#formhead {
    border-radius: 10px 10px 0px 0px;
    padding: .5rem;
}

#formtxt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    padding-left: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}



#formright {
    padding: 0;
    background: #FFFFFF;
    box-shadow: 6px 6px 33px rgba(0, 0, 0, 0.26);
    border-radius: 16px;
    height: 250px;
}

#formtxtsub{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    padding-left: 1rem;
}

  .result-content {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 50px;
    font-size: 24px;
    padding-top: 5rem;
    text-align: center;
}

.predbtn{
    padding: 50px;
    width: 250px;
    height: 50px;
}
img{
padding: 1rem;
}

#predtext{
    font-size: 2em !important;
    font-weight: bold;
}