<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'code.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Income Prediction</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm p-3 bg-primary">
        <h3 class="navbar-brand text-light" id="headtitle">Region Based Income Prediction Using Census Data</h3>
        </div>
    </nav>

    <!-- title -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg">
                <h1 class="text-center" id="titlemain">Income Prediction</h1>
                <h2 class="text-center" id="subtitle"> predicting using AI ML model</h2>
            </div>
        </div>
    </div>
    <!-- forms -->
    <div class="container pt-5">

        <div class="row">
            <!-- leftform -->
            <div class="col m-3" id="formleft">
                <div class="bg-primary" id="formhead">
                    <h3 class="text text-light" id="formtxt">prediction form</h3>
                </div>

                <form  action="{% url 'result' %}">
                    {% csrf_token %}
                    <div class="row p-2">
                        <div class="col">
                            <label for="" class="form-label">Age</label>
                            <input type="number" class="form-control" name="age" placeholder="age">
                        </div>
                        <div class="col">
                            <label for="" class="form-label">Work Hour per Week</label>
                            <input type="number" class="form-control" name="WorkHour" placeholder="WorkHour">
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col">
                            <label for="" class="form-label">sex</label>
                            <select class="form-select" name="sex"  type="text"  aria-label="Default select example">
                                <option value="1">male</option>
                                <option value="0">female</option>
                            </select>
                        </div>

                        <div class="col">
                            <label for="" class="form-label">country</label>
                            <select class="form-select" name="country"  type="text"  aria-label="Default select example">
                                <option value="0">Cambodia</option>
                                <option value="1">Canada</option>
                                <option value="2">China</option>
                                <option value="3">Columbia</option>
                                <option value="4">Cuba</option>
                                <option value="5">Dominican-Republic</option>
                                <option value="6">Ecuador</option>
                                <option value="7">El-Salvador</option>
                                <option value="8">England</option>
                                <option value="9">France</option>
                                <option value="10">Germany</option>
                                <option value="11">Greece</option>
                                <option value="12">Guatemala</option>
                                <option value="13">Haiti</option>
                                <option value="14">Holand-Netherlands</option>
                                <option value="15">Honduras</option>
                                <option value="16">Hong</option>
                                <option value="17">Hungary</option>
                                <option value="18">India</option>
                                <option value="19">Iran</option>
                                <option value="20">Ireland</option>
                                <option value="21">Italy</option>
                                <option value="22">Jamaica</option>
                                <option value="23">Japan</option>
                                <option value="24">Laos</option>
                                <option value="25">Mexico</option>
                                <option value="26">Nicaragua</option>
                                <option value="27">Outlying-US(Guam-USVI-etc)</option>
                                <option value="28">Peru</option>
                                <option value="29">Philippines</option>
                                <option value="30">Poland</option>
                                <option value="31">Portugal</option>
                                <option value="32">Puerto-Rico</option>
                                <option value="33">Scotland</option>
                                <option value="34">South</option>
                                <option value="35">Taiwan</option>
                                <option value="36">Thailand</option>
                                <option value="37">Trinadad&Tobago</option>
                                <option value="38">United-States</option>
                                <option value="39">Vietnam</option>
                                <option value="Yugoslavia">Yugoslavia</option>
                            </select>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col">
                            <label for="" class="form-label">Work Type</label>
                            <select class="form-select" name="workclass" type="text" aria-label="Default select example">
                                <option value="0">Federal-gov</option>
                                <option value="1">Local-gov</option>
                                <option value="2">Never-worked</option>
                                <option value="3">Private</option>
                                <option value="4">Self-emp-inc</option>
                                <option value="5">Self-emp-not-inc</option>
                                <option value="6">State-gov</option>
                                <option value="7">Without-pay</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="" class="form-label">occupation</label>
                            <select class="form-select" name="occupation"  type="text" aria-label="Default select example">
                                <option value="0">Adm-clerical</option>
                                <option value="1">Armed-Forces</option>
                                <option value="2">Craft-repair</option>
                                <option value="3">Exec-managerial</option>
                                <option value="4">Farming-fishing</option>
                                <option value="5">Handlers-cleaners</option>
                                <option value="6">Machine-op-inspct</option>
                                <option value="7">Other-service</option>
                                <option value="8">Priv-house-serv</option>
                                <option value="9">Prof-specialty</option>
                                <option value="10">Protective-serv</option>
                                <option value="11">Sales</option>
                                <option value="12">Tech-support</option>
                                <option value="13">Transport-moving</option>
                            </select>
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col">
                            <label for="" class="form-label">education</label>
                            <select class="form-select" name="education"  type="text"  aria-label="Default select example">
                                <option value="0">10th</option>
                                <option value="1">11th</option>
                                <option value="2">12th</option>
                                <option value="3">1st-4th</option>
                                <option value="4">5th-6th</option>
                                <option value="5">7th-8th</option>
                                <option value="6">9th</option>
                                <option value="7">Assoc-acdm</option>
                                <option value="8">Assoc-voc</option>
                                <option value="9">Bachelors</option>
                                <option value="10">Doctorate</option>
                                <option value="11">HS-grad</option>
                                <option value="12">Masters</option>
                                <option value="13">Preschool</option>
                                <option value="14">Prof-school</option>
                                <option value="15">Some-college</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center pt-4">
                            <input type="submit" name="" class="text-center btn btn-primary predbtn" value="PREDICT"></input>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
    </script>

</body>

</html>